
{% extends 'base.html' %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">iD</th>
        <th scope="col">Fullname</th>
        <th scope="col">Group</th>
        <th scope="col">Level</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
    {% for student in students %}
      <tr>
        <th scope="row">{{ student.id }}</th>
        <td>{{student.fullname}}</td>
        <td>
            {% for group in student.groups.all %}
                {% if forloop.counter == 1 %}
                    {{group.title}}
                {% else %}
                    .
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for group in student.groups.all %}
                {% if forloop.counter == 1 %}
                    {{group.level}}
                {% else %}
                    .
                {% endif %}
            {% endfor %}
        </td>
        <td>{{student.phone}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if students.has_previous  %}
      <li class="page-item">
        <a class="page-link" href="{% url 'lists:studentlist_url' %}?page={{students.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      <li class="page-item"><a class="page-link" href="{% url 'lists:studentlist_url' %}?page={{students.number}}">{{students.number}}</a></li>
      {% if students.has_next %}
      <li class="page-item">
        <a class="page-link" href="{% url 'lists:studentlist_url' %}?page={{students.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

{% endblock content %}
